<h1>ui-tabs</h1>

<h2>Using Inline Component</h2>

{{ui-tabs
  tabs='one,two,three'
  selected=selected
  onChange=(action (mut selected))
}}

<h2>Using Block Components</h2>

{{#ui-tabs
  selected=selected2
  default='bar'
  onChange=(action (mut selected2))
  as |t|
}}

  {{t.tab 'Foey' value='foo'}}
  {{t.tab 'Barred' value='bar'}}
  {{t.tab 'Bazed' value='baz'}}

{{/ui-tabs}}